body
{ color:#DFD128; 
  font-family: monospace;
  background-color: #843B5C;
  word-wrap: break-word;
  font-size: 20px;
  background-image: url('pineappleinverted.jpg')

 }

 a:link {
   background-color: #D3D921;
   text-color: #843B5C
 }

 header {
    background-color:#D3D921;
    color: #843B5C;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    }

 nav {
   background-color: #CC3F1C;
    font-size: 28;
    color: #FCFAF9;
    text-align: left;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    grid-area: 1 1 1 1 ;}

 main {
    background-color:#DFD128;
    color: #CC3F1C;
    text-align: left;
    margin: 10px;
    padding: 10px 5% 10px 5%;
    word-wrap: break-word;
    grid-area: 1 2 1 2; } 
    
 aside {
    background-color: #CC3F1C;
    color: #D3D921;
    text-align: right;
    margin: 10px;
    grid-area: 1 3 1 3;}

 footer {
    background-color:#CC3F1C;
    color: #DFD128;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 10px;}


@media only screen and (max-width: 600px) {
    body {font-size: 20; max-width: 96%; margin: auto;
}
}

@media only screen and (min-width: 1024px) {
    body {background-color: rgb(40, 40, 70); font-size: 24; max-width:84%; margin: auto;
    }

    .grid-container {
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: auto auto auto;
        }
        aside {width: 180px}
      }
